.filter input[type=text] {
    border: 1px solid black;
    border-radius: 3px;
}



.filter button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.filter button:hover {
    background-color: grey;
}

tr button {
    background-color: white;
    border: none;
    cursor: pointer;
    display: block;
    font-weight: bold;
    width: 100%;
}

/* Temporary focus-solution for having a button toggled */
tr button:focus {
    background-color: lightgrey;
}
