<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}">
        <link th:rel="stylesheet" th:href="@{/styles/cssandjs/styles.css}">
    </head>
    <body>
        <div class="container">
            <h1>Spring Boot Book App</h1>
            <hr />
            
            <div class="filter">
                <h6>Filter by: </h6>
                <!-- https://www.baeldung.com/spring-thymeleaf-request-parameters -->
                <button th:name="filter" th:value="title" th:onclick="|window.location.href='/filter'|">Title</button>
                <button th:name="filter" th:value="author">Author</button>
                <button th:name="filter" th:value="date">Date published</button>
                <div>
                    <input class="w-50" type="text" placeholder="Search...">
                    <button th:name="search-button" th:value="search">Search</button>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="w-25 p-3">Isbn</th>
                        <th class="w-25 p-3"><button>Title</button></th>
                        <th class="w-25 p-3"><button>Author</button></th>
                        <th class="w-25 p-3"><button>Date published</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${listBooks}">
                        <!-- <div class="btn btn-group-sm" role="group">
                            <a class="btn btn-info" th:href="@{/edit/{isbn}(isbn=${book.isbn})}">
                                <i class="bi bi-pencil-fill"></i> Edit</a>
                                <a class="btn btn-danger" th:href="@{/delete/{isbn}(isbn=${book.isbn})}">
                                    <i class="bi bi-trash-fill"></i> Delete</a>
                                </div> -->
                        <td th:text="${book.isbn}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.published}"></td>
                    </tr>
                </tbody>
            </table>

            <div th:if = "${totalPages > 1}" >
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class="page-item col-sm-1" th:each="i: ${#numbers.sequence(begin, end)} ">
                        <a th:if="${current - 2 != i}" th:href="@{'/page/' + ${i}}" th:text="${i}"
                        th:classappend="${current}==${i}?'activepagenumber':''"></a>
                        <span th:unless="${current - 2 != i}" th:text="${i}"></span>
                    </div>
                    <!-- <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div> -->
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    </body>
</html>