<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}">
    </head>
    <body>
        <div class="container">
            <h1>Spring Boot Book App</h1>
            <hr />

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${listBooks}">
                        <td>
                            <div class="btn btn-group-sm" role="group">
                                <a class="btn btn-info" th:href="@{/edit/{id}(id=${book.id})}">
                                    <i class="bi bi-pencil-fill"></i> Edit</a>
                                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">
                                    <i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </td>
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                    </tr>
                </tbody>
            </table>

            <div th:if = "${totalPages > 1}" >
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    </body>
</html>